<div class="container content">
    <div class="row">
        <div class="col-md-6">
            Hola
        </div>
            Mundo
        <div class="col-md-6">
            
        </div>
    </div>
</div>